
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="my-3 mx-3">
    <h4>Đặt hàng thành công, <a href="@Url.Action("DetailOrder","Order")">Nhấn vào đây để theo dõi đơn hàng của bạn</a></h4>
</div>


