@model Model.EF.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Flash Clothes Admin Login</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Flash Clothes" />
    <meta name="keywords" content="Flash Shop">
    <meta name="author" content="vinhlc" />

    <!-- Favicon icon -->
    <link rel="icon" href="~/Areas/Admin/Asset/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="~/Areas/Admin/Asset/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="~/Areas/Admin/Asset/plugins/animation/css/animate.min.css">

    <!-- vendor css -->
    <link rel="stylesheet" href="~/Areas/Admin/Asset/css/style.css">




</head>

<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
    <div class="auth-content container">
        <div class="card">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="card-body">
                        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                        {
                            @Html.ValidationSummary(false,"","error")
                        <img src="~/Areas/Admin/Asset/images/logo-dark.png" alt="" class="img-fluid mb-4">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="feather icon-user"></i></span>
                            </div>
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control",placeholder = "Tên tài khoản",autofocus= "autofocus" })
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="feather icon-lock"></i></span>
                            </div>
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Mật khẩu", type = "password" })
                        </div>

                        <div class="form-group text-left mt-2">
                            <div class="checkbox-primary d-inline">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mb-4">Đăng nhập</button>
                        <p class="mb-2 text-muted">Quên mật khẩu <a href="auth-reset-password.html" class="f-w-400">Reset</a></p>
                        <p class="mb-0 text-muted">Chưa có tài khoản? <a href="@Url.Action("SignUp","Login")" class="f-w-400">Đăng ký</a></p>
                        }
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <img src="https://tudienwiki.com/wp-content/uploads/2017/05/chau-bui.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ auth-signin ] end -->
<!-- Required Js -->
<script src="~/Areas/Admin/Asset/js/vendor-all.min.js"></script>
<script src="~/Areas/Admin/Asset/plugins/bootstrap/js/bootstrap.min.js"></script>


<div class="footer-fab">
    <div class="b-bg">
        <i class="fas fa-question"></i>
    </div>
    <div class="fab-hover">
        <ul class="list-unstyled">
            <li><a href="../doc/index-bc-package.html" target="_blank" data-text="UI Kit" class="btn btn-icon btn-rounded btn-info m-0"><i class="feather icon-layers"></i></a></li>
            <li><a href="../doc/index.html" target="_blank" data-text="Document" class="btn btn-icon btn-rounded btn-primary m-0"><i class="feather icon feather icon-book"></i></a></li>
        </ul>
    </div>
</div>


</body>

</html>

